<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item " href="#/app/login"><i class="icon ion-unlocked"></i> Login </a>
      <a class="tab-item active" href="#/app/signup"> <i class="icon ion-person"></i> Sing Up </a>
    </div>
  </div>

<ion-view view-title="Sign Up" class="loginBg" hide-nav-bar="true" >
  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
	  <div class="col">
		   <div class="app-logo"><img src="img/logo.png"></div>
			
			<div class="list list-inset removePM">
			  <label class="item item-input"><input type="text" ng-model="userRegistration.username"  placeholder="User Name"> </label>
			  <label class="item item-input"><input type="text" ng-model="userRegistration.email" placeholder="Email Address"> </label>
			  <label class="item item-input"><input type="text" ng-model="userRegistration.mobile" placeholder="Phone Number"> </label>
			  <label class="item item-input"><input type="password" ng-model="userRegistration.password" placeholder="Password"> </label>
			</div>

			<div class="loginButton"><button ng-click="userregistration(userRegistration)" class="button ion-person button-block button-balanced"> Register </button>  </div>
	  </div>
  </div>

  </ion-content>
</ion-view>
